.movielist {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movielist__error {
  margin: 0 auto;
  margin-top: 10px;
}
.movielist__spin {
  margin: 0 auto;
  margin: 30px;
  width: 100%;
}
.pagination {
  display: flex;
  margin: 18px auto;
}
@media all and (max-width: 994px) {
  .movielist {
    justify-content: center;
  }
}
